<h1>New Hire Request!</h1>

<h5>Anne, someone new wants to hire you</h5>
<p>
  First name: 
  <%= @form.first_name %>
</p>
<p>
  Last name: 
  <%= @form.last_name %>
</p>
<p>
  Email: 
  <%= @form.email %>
</p>
<p>
  Message: 
  <%= @form.message %>
</p>
