


<div class="container">
  <h1>DIRECTTOANNE</h1>
  <p>This is my working home page.</p>
</div>

<div class="container test-main">
  <h1>This is me testing 0.8 opacity</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum architecto provident quae repudiandae iure pariatur tempore, cumque, dolore vel ipsa, voluptas perspiciatis accusantium facilis. Aperiam ducimus perferendis dolores laudantium excepturi?
  
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint delectus quos iusto. Necessitatibus sit eveniet, alias repudiandae quaerat ipsa harum blanditiis numquam et exercitationem fugit laboriosam, non aut adipisci! Iure?
  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, harum non neque asperiores qui eligendi, vero adipisci a temporibus, minus nisi ipsa! Molestiae ad non eius voluptatibus fuga consequuntur commodi.
  
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime inventore obcaecati expedita at enim officiis, ex amet earum illo natus necessitatibus quae veniam corporis itaque, distinctio accusantium, delectus est perspiciatis.
  
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, illo et quibusdam, eligendi blanditiis est numquam atque sunt quidem corporis, rerum aspernatur quia qui nobis ex quos omnis assumenda beatae.</p>
</div>

<div class="container test-again">
  <h1>This is me testing 1.0 opacity</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum architecto provident quae repudiandae iure pariatur tempore, cumque, dolore vel ipsa, voluptas perspiciatis accusantium facilis. Aperiam ducimus perferendis dolores laudantium excepturi?
  
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint delectus quos iusto. Necessitatibus sit eveniet, alias repudiandae quaerat ipsa harum blanditiis numquam et exercitationem fugit laboriosam, non aut adipisci! Iure?
  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, harum non neque asperiores qui eligendi, vero adipisci a temporibus, minus nisi ipsa! Molestiae ad non eius voluptatibus fuga consequuntur commodi.
  
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime inventore obcaecati expedita at enim officiis, ex amet earum illo natus necessitatibus quae veniam corporis itaque, distinctio accusantium, delectus est perspiciatis.
  
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, illo et quibusdam, eligendi blanditiis est numquam atque sunt quidem corporis, rerum aspernatur quia qui nobis ex quos omnis assumenda beatae.</p>
</div>
