<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <%= image_tag "profile.png", class: "profile-image" %>
    <div class="ml-4">
      <div class="d-flex">
        <h1>Hi, I'm Anne.</h1>
      </div>
      <p>I learned to code after I fell in love with text-based games like Zork, A Dark Room, and Candy Box. I'm still a baby to the big bad world of web development, but after Ruby on Rails and React I'm now slowly picking up PHP and Lua (when I'm not getting distracted writing movie reviews or scripts to choice-based games). You can see some of my work below, or if you prefer something more fun - you can check out my recommendations for an endless and perpetually-growing list of ways to waste time.</p>
      <div class="d-flex mt-4 justify-content-around">
        <i class="fab fa-github"></i>
        <%= image_tag "letterboxd-mac-icon (5).png", class: "icon-letterboxd" %>
        <i class="fab fa-instagram"></i>
        <div class="transparent ml-4">
          <i class="fab fa-youtube ml-4"></i>
          <i class="fab fa-twitter ml-4"></i>
          <i class="fab fa-linkedin ml-4"></i>
          <i class="fab fa-twitch ml-4"></i>
          <i class="fab fa-facebook ml-4"></i>
          <i class="fab fa-reddit ml-4"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>DIRECTTOANNE</h1>
  <p>This is my working home page.</p>
</div>

<div class="container test-main">
  <h1>This is me testing 0.8 opacity</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum architecto provident quae repudiandae iure pariatur tempore, cumque, dolore vel ipsa, voluptas perspiciatis accusantium facilis. Aperiam ducimus perferendis dolores laudantium excepturi?
  
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint delectus quos iusto. Necessitatibus sit eveniet, alias repudiandae quaerat ipsa harum blanditiis numquam et exercitationem fugit laboriosam, non aut adipisci! Iure?
  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, harum non neque asperiores qui eligendi, vero adipisci a temporibus, minus nisi ipsa! Molestiae ad non eius voluptatibus fuga consequuntur commodi.
  
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime inventore obcaecati expedita at enim officiis, ex amet earum illo natus necessitatibus quae veniam corporis itaque, distinctio accusantium, delectus est perspiciatis.
  
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, illo et quibusdam, eligendi blanditiis est numquam atque sunt quidem corporis, rerum aspernatur quia qui nobis ex quos omnis assumenda beatae.</p>
</div>

<div class="container test-again">
  <h1>This is me testing 1.0 opacity</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum architecto provident quae repudiandae iure pariatur tempore, cumque, dolore vel ipsa, voluptas perspiciatis accusantium facilis. Aperiam ducimus perferendis dolores laudantium excepturi?
  
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint delectus quos iusto. Necessitatibus sit eveniet, alias repudiandae quaerat ipsa harum blanditiis numquam et exercitationem fugit laboriosam, non aut adipisci! Iure?
  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, harum non neque asperiores qui eligendi, vero adipisci a temporibus, minus nisi ipsa! Molestiae ad non eius voluptatibus fuga consequuntur commodi.
  
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime inventore obcaecati expedita at enim officiis, ex amet earum illo natus necessitatibus quae veniam corporis itaque, distinctio accusantium, delectus est perspiciatis.
  
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, illo et quibusdam, eligendi blanditiis est numquam atque sunt quidem corporis, rerum aspernatur quia qui nobis ex quos omnis assumenda beatae.</p>
</div>
