.test-main {
  background-color: $night;
  opacity: 0.8;
}

.test-again {
  background-color: $night;
}

.profile-image {
  width: 24vw;
  border: 4px $gray solid;
  border-radius: 50%;
}

.container h1 {
  background-color: rgba(0,1,26,0.8);
}

.container p {
  background-color: rgb(0,1,26);
}

.container i {
  font-size: 33px;
}

.icon-letterboxd {
  height: 35px;
}

.transparent {
  color: transparent;
}

.project-card {
  width: 620px;
  border: 3px solid $gray;
  border-radius: 2px;
  margin-top: 32px;
}

.project-grid {
  width: 86vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  background-color: transparent;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-color: rgba(0,1,26,0.75);
}

.project-hover {
  position: relative;
}

.project-hover:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}