.navbar-lewagon {
  justify-content: space-around;
  background: transparent;
  font-family: "Poiret One", "Open Sans Condensed", "sans-serif";
  font-size: 24px;
  margin-bottom: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 400px;
}

.navbar-light .navbar-nav .nav-link {
  color: #F7E565;
  background-color: $night;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: orchid;
  transition: .25s;
}

.navbar-lewagon li {
  list-style-type: none;
}

.navbar-lewagon a {
  color: #F7E565;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar-lewagon a:hover {
  color: orchid;
  transition: .25s;
}