// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#particles-js {
  position: absolute;
  z-index: -100;
  background: #0a0a34;
  // background: linear-gradient(209deg, rgba(51,17,51,1) 19%, rgba(79,52,0,1) 100%);
  width: 100vw;
  height: 100vh;
} 